
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>TrashCan Name:  <%= @device_name %></h2>
    <br>
    <h2>Status:  <%= @error_type %></h2>
    <br>
    <h2>Error Ocurred At:  <%= @time %> (<%= @time_zone%>)</h2>
    <br>
    <p>
     <%= if @error_type=="NONCRITICAL" 
               "Noncritical errors indicate that the trahcan is functional suboptimally.\nThis is likely an network issue. \nIf repeated errors occur, you can disable this in the firmware."
         else 
              "Critical errors indicate that the trashcan is inoperative.\nIt is recommended that you fix it right away. "
         end
      %> 
    </p>
   
    <p>
      Visit <a href= <%=@url+"/Help"%>>the project website</a> for more information
    </p>
  </body>
</html>